<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.st.clab.bleSensor.fwUpgradeChecker">

    <application>
        <service
            android:name=".CheckFirmwareVersionService"
            android:exported="false"/>
    </application>

</manifest>